<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">


    <insert id="insertDish" parameterType="Dish" useGeneratedKeys="true" keyProperty="id">
       insert into sky_take_out.dish (id, name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
       values (#{id},#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})

    </insert>
    <insert id="inserBatchFlavors" >
        insert into sky_take_out.dish_flavor(dish_id, name, value) values
        <foreach collection="flavors" item="df" separator=",">
            (#{df.dishId},#{df.name},#{df.value})
        </foreach>
    </insert>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*,c.name cname from dish d left outer join  category c  on d.category_id=c.id
        <where>
            <if test="name!=null">
             and  name like concat('%',#{name},'%')
            </if>
             <if test="categoryId!=null">
               and  category_id =#{categoryId}
             </if>
             <if test="status">
                and  status = #{status}
             </if>
                            </where>
        order by  create_time desc

    </select>
    <select id="querySetMealDish" resultType="java.lang.Long">

    select setmeal_id from setmeal_dish where dish_id in
     <foreach collection="ids" item="ds" separator="," open="(" close=")"    >
         #{ds}
     </foreach>

    </select>
    <select id="queryByIdFlavor" resultType="com.sky.entity.DishFlavor">

          select * from dish_flavor where dish_id = #{id}
    </select>

    <update id="update">
       update dish
       <set>
           <if test="name!=null">name=#{name},</if>
            <if test="categoryId!=null">category_id=#{categoryId},</if>
           <if test="price!=null">price=#{price},</if>
            <if test="image!=null">image=#{image},</if>
          <if test="description!=null">description=#{description},</if>
         <if test="status!=null">status=#{status},</if>
       </set>
      where id = #{id}
    </update>

</mapper>
